/* Ensure chat window is always visible */
.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-window {
  display: block;
  width: 100%;
  max-width: 350px;
  height: 430px;
}

/* Beispielhafte CSS-Regeln für das Chatbot-Icon */
.custom-chat-icon {
  width: 30px;  /* gewünschte Breite */
  height: 30px; /* gewünschte Höhe */

  .chatbot-icon {
  width: 50px;  /* gewünschte Breite */
  height: 50px; /* gewünschte Höhe */
}

}

@media (max-width: 768px) {
  .chat-window {
    width: 100%;
    height: 100vh; /* Full height for mobile devices */
    max-width: 100%;
  }
}

df-messenger {
  --df-messenger-bot-message: #F4F4F4;
  --df-messenger-button-titlebar-color: #007bff;
  --df-messenger-chat-background-color: #FFFFFF;
  --df-messenger-font-color: #000000;
  --df-messenger-send-icon: #007bff;
}
